* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: -webkit-linear-gradient(to right, #004d40, #003366); /* For WebKit browsers */
    background: linear-gradient(to right, #076b5b, #295887); 
}

body {
    font-family: 'Montserrat', sans-serif;
    background: -webkit-linear-gradient(to right, #155799, #159957); 
    background: linear-gradient(to right,#1d6b44, #144a81 );  /* For other browsers */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 32rem;
    margin: auto;
    color: whitesmoke;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(11, 15, 13, 0.582);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 20px 25px;
}

.container {
    width: 800px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(139, 50, 50, 0.1);
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
    font-size: 24px;
    letter-spacing: 1px;
    position: relative;
}

h2::after {
    content: '';
    width: 80px;
    height: 4px;
    background-color: #159957;
    display: block;
    margin: 10px auto 0;
    border-radius: 2px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

label {
    flex: 1;
    margin-right: 15px;
    font-weight: 800;
    color: #333;
    font-size: 14px;
}

input, select {
    flex: 2;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}

input:focus, select:focus {
    border-color: #159957;
    outline: none;
    box-shadow: 0 0 8px rgba(21, 153, 87, 0.1);
}

#button {
    background-color: #030804;
    color: white;
    padding: 14px 20px;
    border-radius: 5px;
    margin: 7px 0;
    width: 100%;
    font-size: 18px;
}

button:hover {
    opacity: 0.6;
    cursor: pointer;
}

p[style="color: green"], p[style="color: red"] {
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 14px;
}

.form-group button {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }

    h2 {
        font-size: 22px;
    }

    button {
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    .container {
        padding: 15px;
    }

    input, select {
        font-size: 14px;
        padding: 10px;
    }
}
