.navbar 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    padding: 5px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid #385170;
    z-index: 1000;
    background-color: black!important;
}
.navbar ul 
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0!important;
}
.navbar ul img
{
    margin-right: 90px;
}
.navbar ul li
{
    list-style: none;
    margin:0 20px;
    font-size: large;
    position :relative;
}
.navbar ul li a
{
    text-decoration: none;
    font-weight: bold;
    color: #ececec;
    text-transform: uppercase;
}
.navbar ul li::after
{
    content: '';
    height: 3px;
    width:0%;
    background: 009688;
    position: absolute;
    left:0;
    bottom:-10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
    background: white;
}
.content
{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    min-width: 100px;
    padding: 10px 0;
    text-align: center;
    margin: 20px;
    border-radius: 50px !important;
    font-weight: bolder;
    font-size: 15px;
    color:#ececec;
    cursor: pointer;
    background:transparent;
    overflow: hidden;
    position: relative;
    border: 2px solid white;
    margin-left: 10px !important;
}
span
{
    background: white;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
    overflow: hidden;
}
button:hover span{
    width: 100%;
    background: white;
}
button:hover{
    border: none;
    color: black;
}